<!DOCTYPE html>
<html ng-app="transitTipsApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transit.Tips</title>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-resource.min.js">

    <!-- JQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Google Analytics -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44599252-2', 'transit.tips');
      ga('send', 'pageview');

    </script>
    <script src="js/stops.js"></script>
    <script src="js/transit-tips.js"></script>
    <script>
  </script>
  </head>
  <body>
    <h1 id='url'>Transit.Tips</h1>
    <h2 id='welcome'>Searching for nearest transit information</h2>

    <div id='transit-info' ng-controller="TransitController">
      <div ng-repeat="route in routes" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{route.name}}</h3>
        </div>

        <div class="panel-body">
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Direction</th>
              <th>Arrival (in minutes)</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="bus in route.buses">
              <td>{{bus.name}}</td>
              <td>{{bus.arrivalTime}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
